<div id="wrapper-home" style="margin-top:10px">
    <div id="header-home"><img src="<%= avatar %>" style="width:160px;height:160px">
      <h3><%= username %></h3>
      <ul class="nav nav-tabs">
        <li class="active"><a href="">Preguntas</a></li>
        <li class="active"><a href="">Respuestas</a></li>
      </ul><br>
      
      <ul class="list-group" id="wrap-questions">
      	<li class="list-group-item">
      		<a href="">Questions</a>
      	</li>
      	<li class="list-group-item">
      		<a href="">Questions</a>
      	</li>
      	<li class="list-group-item">
      		<a href="">Questions</a>
      	</li>
      	<li class="list-group-item">
      		<a href="">Questions</a>
      	</li>
      </ul>
    </div>
</div>